<div class="container container-width">
<ul class="list-group">
    {{#each tvList}}
    <li class="list-group-item list-group-item-action"><a href="show/{{this.tvid}}">{{this.name}}</a></li>
    {{/each}}
</ul>
    <div class="row justify-content-center d-flex align-items-stretch mt-3">
        <form method="GET" action="/">
            <input type="hidden" name="offset" value="{{prevOffset}}">
            <button class="btn btn-info" type="submit">Previous</button>
        </form>
        <div class="align-self-center">
            <p class="align-self-center ml-4 mr-4">Page: {{pageNum}} / {{pageTotal}}</p>
        </div>
        
        <form method="GET" action="/">
            <input type="hidden" name="offset" value="{{nextOffset}}">
            <button class="btn btn-info" type="submit">Next</button>
        </form>
    </div>
</div>